@import "tailwindcss";


.slick-prev:before,
.slick-next:before {
  color: blue;

}


.html {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;


}

.img-style {
  margin-left: auto;
  margin-right: auto;
  height: 675px;
  width: 100%;
}


.hover\:underline-thin:hover {
  text-decoration-thickness: 1px;
  /* Adjust thickness */
}